@font-face {
    font-family: "hepta";
    src: url("/front-end/fonts/HeptaSlab-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "acworth";
    src: url("/front-end/fonts/acworth-bold.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "rubiki";
    src: url("/front-end/fonts/Rubik-Italic-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "rubikv";
    src: url("/front-end/fonts/Rubik-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}

.hepta {
    font-family: "hepta", sans-serif;
}

.acworth {
    font-family: "acworth", sans-serif;
}

.rubiki {
    font-family: "rubiki", sans-serif;
}

.rubikv {
    font-family: "rubikv", sans-serif;
}

.bg-diagonal {
    background: repeating-linear-gradient(
        -55deg,
        var(--bg-color, #222),
        var(--bg-color, #222) 10px,
        var(--bg-color, #333) 10px,
        var(--bg-color, #333) 20px
    );
}

.transparent-texture {
    position: relative;
}

.transparent-texture::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color, rgba(66, 37, 230, 0.514));
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
    background-position: center;
    filter: opacity(0.6);
    z-index: -1;
}

.backgrounded,
.singleBackgrounded {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleBackgrounded::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/front-end/SocialMedia/brand boost sm (1).jpg");
    background-size: cover;
    background-position: center;
    filter: opacity(0.5);
    z-index: -1;
}

.backgrounded::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/front-end/SocialMedia/brand boost sm (1).jpg");
    background-size: cover;
    background-position: center;
    filter: opacity(0.5);
    z-index: -1;
    /* animation: changeBackground 20s ease-in-out forwards; */
}

/* @keyframes changeBackground {
    0% {
        background-image: url("/front-end/SocialMedia/brand boost sm (1).jpg");
    }
    25% {
        background-image: url("/front-end/SocialMedia/brand boost sm (2).jpg");
    }
    50% {
        background-image: url("/front-end/SocialMedia/brand boost sm (3).jpg");
    }
    75% {
        background-image: url("/front-end/SocialMedia/brand boost sm (4).jpg");
    }
    100% {
        opacity: 0;
    }
} */

/* /////////////////////////////////////////// */

.marquee-container {
    padding-block: 8px;
    overflow: hidden;
    display: flex;
    gap: 8rem;
    user-select: none;

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        flex-shrink: 0;
        min-width: 100%;
        animation: marquee 20s linear infinite;
    }

    &:hover ul {
        animation-play-state: paused;
    }
}

@keyframes marquee {
    to {
        transform: translateX(calc(-100% - 8rem));
    }
}

/* /////////////////////////////////////////// */

#leftText {
    animation: show linear;
    /* animation-timeline: view(); */
    animation-range: entry 0 cover 40%;
}

@keyframes show {
    from {
        opacity: 0;
        translate: translateX(-100px);
    }
    to {
        opacity: 1;
        translate: translateX(0px);
    }
}

/* ////////////////////////////////// */
